<div>
  <app-page-header [heading]="'List of Devices'" [icon]="'fa-list-ol'"></app-page-header>
  <!-- <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']"><i class="fa fa-plus fw"> ADD NEW</i></a> -->
   
  <app-collapse></app-collapse>
  <div class="row">
      <div class="col-lg-12">
          <div class="card mb-3">
               <div class="card-header">The List</div> 
              <div class="card-body">
                 <ul class="list-group">
                   <li  class="list-group-item" *ngFor = "let device of devices; index as i">
                     {{i+1}} - {{device.name}}
                     <button class="btn" (click)="onRemoveDevice(device)">Remvoe</button> 
                     <a class="btn btn-default" [routerLink]="['/device-details', device.id]">Show Detail</a>
                   </li>
                 </ul>
              </div>
          </div>
      </div>
  </div>
 </div>

